<p>about works!</p>
<div id="body">
    <div id="container">
      <div id="header">
        <img [src] = 'image' id="image" width="100px" height="60px">
        <h1 id="career"><b style="color: black; font-size: 1.2em;">Career-IT Training Instute</b></h1>
      </div>
     
      <div id="section">
        <img [src]= "imagepath" width="800px" height="330px">
      </div>
      <div id="sidebar"> 
        <h4><b>“If you have a dream, don't just sit there. ...<br />
          “Don't let mental blocks control you. ...<br />
          “No one learns as much about a subject as one who is forced to teach it.” ...<br />
          “Seek opportunities to show you care. ...<br />
          “The job of an educator is to teach students to see vitality in themselves”
          </b></h4>
      </div>
      <div id="mainbody">
        <p><b style="color: red;font-size: 1.1em;">Career-IT training</b> <br /> for better training and better knowledge</p>
      </div>
      <div id="footer"></div>
  
    </div>
  </div>
  
  