<div id="container">
  <div>
    <h1><b>career-It-Instute</b></h1>
    <nav id="image">
      
      <ul>
        <li><a routerLink='home'>Home</a></li>
        <li><a routerLink='about'>About</a></li>
        <li><a routerLink='contact'>Contact</a></li>
        <li><a routerLink='trainer'>Trainers</a></li>
        <li><a routerLink='courses'>Courses</a></li>
        <li><a routerLink='onlone-training-details'>Online classes daetails</a></li>
    </ul>
    </nav>
    <router-outlet></router-outlet>
  </div>

</div>


